@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.gradvert {
  background-image: -owg-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -webkit-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -moz-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -o-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: linear-gradient(90deg, #1BBC9B, #BFE428);
  border: 1px solid #1BBC9B;
}

.gradbleu {
  background-image: -owg-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -webkit-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -moz-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -o-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: linear-gradient(90deg, #4695D9, #22A7F0);
  border: 1px solid #4695D9;
}

.gradviolet {
  background-image: -owg-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -webkit-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -moz-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -o-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: linear-gradient(90deg, #a238b9, #bb4fd2);
  border: 1px solid #a238b9;
}

.gradrouge {
  background-image: -owg-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -webkit-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -moz-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -o-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: linear-gradient(90deg, #E77E23, #E74C3C);
  border: 1px solid #E74C3C;
}

.bd {
  border-bottom: 1px solid #FFF;
}

.dark {
  background-color: #158f76;
}

.jaune {
  background-image: -owg-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -webkit-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -moz-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -o-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: linear-gradient(60deg, #ffa726, #fb8c00);
}

.rouge {
  background-color: #E74C3C !important;
}

.vert {
  background-color: #1BBC9B !important;
}

.orange {
  background-color: #E77E23 !important;
}

.rose {
  background-color: #EA6053 !important;
}

.violet {
  background-color: #a238b9 !important;
}

.mer {
  background-color: #4695D9 !important;
}

.ocean {
  background-color: #22A7F0 !important;
}

.hline {
  border-bottom: 2px solid #4695D9;
  margin-bottom: 0.725em;
}

a {
  text-decoration: none;
  color: #FFF;
}

p {
  margin: 0.55em;
}

img {
  max-width: 100%;
}

.titre-h1, .titre-h2, .titre-h3, .titre-h4, .titre-h5, .titre-h6 {
  padding: 0.950rem;
  color: #222C3C;
}

.acenter, .ac {
  text-align: center;
}

.aleft, .al {
  text-align: left;
}

.aright, .ar {
  text-align: right;
}

h1, .titre-h1 {
  font-size: 1.55rem;
}

h2, .titre-h2 {
  font-size: 1.45rem;
}

h3, .title-h3 {
  font-size: 1.35rem;
}

h4, .titre-h4 {
  font-size: 1.25rem;
}

h5, .titre-h5 {
  font-size: 1.15rem;
}

h6, .titre-h6 {
  font-size: 1.05rem;
}

.title-h3 {
  border-left: 10px solid #22A7F0;
  text-transform: uppercase;
  font-size: 1.45rem;
  line-height: 1.5;
  background-color: #FFFFFF;
  margin-top: 1rem;
  position: relative;
  letter-spacing: 0.025rem;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.title-h3::before {
  content: "";
  background-color: #22A7F0;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}

i {
  font-size: 1.75em;
  font-weight: bold;
}

.cbleu {
  color: #03a9f4;
}

.cbleu:hover, .cbleu:focus, .cbleu:active {
  color: #0288d1;
}

.cvert {
  color: #1BBC9B;
}

.cvert:hover, .cvert:focus, .cvert:active {
  color: #388e3c;
}

.crouge {
  color: #f44336;
}

.crouge:hover, .crouge:focus, .crouge:active {
  color: #d32f2f;
}

.cgris {
  color: #999999;
}

.cnoir {
  color: #101010;
}

.cnoir:hover, .cnoir:focus, .cnoir:active {
  color: #111;
}

@media (max-width: 640px) {
  .title-h3 {
    width: calc(100% - 20px);
  }
}

@media (min-width: 1024px) {
  .title-h3 {
    padding: 0.25em 0.25em 0.25em 1.35rem;
  }
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #222C3C;
  font: 14px/1.7 "Roboto",sans-serif;
  margin: 0;
  position: relative;
}

::selection {
  background-color: #FC0;
  color: #222C3C;
}

::-moz-selection {
  background-color: #FC0;
  color: #222C3C;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@media (max-width: 480px) {
  .col1,
  .col2 {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 1023px) {
  .flex {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (min-width: 1024px) {
  .col2 {
    -webkit-flex: 1 1 80%;
    -ms-flex: 1 1 80%;
    flex: 1 1 80%;
  }
  .table {
    display: flex;
  }
  .table .col {
    flex: 1 1 0;
  }
}

@media (min-width: 1170px) {
  .col2 {
    -webkit-flex: 1 1 80%;
    -ms-flex: 1 1 80%;
    flex: 1 1 80%;
  }
}

.gradvert {
  background-image: -owg-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -webkit-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -moz-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -o-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: linear-gradient(90deg, #1BBC9B, #BFE428);
  border: 1px solid #1BBC9B;
}

.gradbleu {
  background-image: -owg-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -webkit-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -moz-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -o-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: linear-gradient(90deg, #4695D9, #22A7F0);
  border: 1px solid #4695D9;
}

.gradviolet {
  background-image: -owg-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -webkit-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -moz-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -o-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: linear-gradient(90deg, #a238b9, #bb4fd2);
  border: 1px solid #a238b9;
}

.gradrouge {
  background-image: -owg-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -webkit-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -moz-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -o-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: linear-gradient(90deg, #E77E23, #E74C3C);
  border: 1px solid #E74C3C;
}

.bd {
  border-bottom: 1px solid #FFF;
}

.dark {
  background-color: #158f76;
}

.jaune {
  background-image: -owg-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -webkit-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -moz-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -o-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: linear-gradient(60deg, #ffa726, #fb8c00);
}

.rouge {
  background-color: #E74C3C !important;
}

.vert {
  background-color: #1BBC9B !important;
}

.orange {
  background-color: #E77E23 !important;
}

.rose {
  background-color: #EA6053 !important;
}

.violet {
  background-color: #a238b9 !important;
}

.mer {
  background-color: #4695D9 !important;
}

.ocean {
  background-color: #22A7F0 !important;
}

.gradvert {
  background-image: -owg-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -webkit-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -moz-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -o-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: linear-gradient(90deg, #1BBC9B, #BFE428);
  border: 1px solid #1BBC9B;
}

.gradbleu {
  background-image: -owg-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -webkit-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -moz-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -o-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: linear-gradient(90deg, #4695D9, #22A7F0);
  border: 1px solid #4695D9;
}

.gradviolet {
  background-image: -owg-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -webkit-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -moz-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -o-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: linear-gradient(90deg, #a238b9, #bb4fd2);
  border: 1px solid #a238b9;
}

.gradrouge {
  background-image: -owg-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -webkit-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -moz-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -o-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: linear-gradient(90deg, #E77E23, #E74C3C);
  border: 1px solid #E74C3C;
}

.bd {
  border-bottom: 1px solid #FFF;
}

.dark {
  background-color: #158f76;
}

.jaune {
  background-image: -owg-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -webkit-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -moz-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -o-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: linear-gradient(60deg, #ffa726, #fb8c00);
}

.rouge {
  background-color: #E74C3C !important;
}

.vert {
  background-color: #1BBC9B !important;
}

.orange {
  background-color: #E77E23 !important;
}

.rose {
  background-color: #EA6053 !important;
}

.violet {
  background-color: #a238b9 !important;
}

.mer {
  background-color: #4695D9 !important;
}

.ocean {
  background-color: #22A7F0 !important;
}

header {
  background-color: #222C3C;
}

header .logo {
  width: 100%;
  height: 155px;
  background: url("../../images/logo.png") center center #f9fafa no-repeat;
}

header nav li {
  border-bottom: 2px solid #1D2531;
}

header nav li:hover .icone,
header nav li:hover .navtitre, header nav li:focus .icone,
header nav li:focus .navtitre, header nav li:active .icone,
header nav li:active .navtitre {
  background-color: #FC0;
}

header nav .active .icone,
header nav .active .navtitre {
  background-color: #FC0;
  color: #222C3C;
}

header nav .deconnect:hover .icone,
header nav .deconnect:hover .navtitre, header nav .deconnect:focus .icone,
header nav .deconnect:focus .navtitre, header nav .deconnect:active .icone,
header nav .deconnect:active .navtitre {
  background-color: #E74C3C;
}

header nav a {
  display: block;
  color: #FFFFFF;
}

header nav a:hover, header nav a:focus, header nav a:active {
  color: #222C3C;
}

header nav .icone, header nav .navtitre {
  display: inline-block;
  height: 65px;
  line-height: 65px;
  vertical-align: top;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

header nav .icone {
  background-image: url("../../images/icones.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  min-width: 66px;
}

header nav .navtitre {
  padding-left: 20px;
  font-size: 1.15rem;
  position: relative;
}

header nav .new {
  background-position: -65px 0;
}

header nav .agenda {
  background-position: 0 -65px;
}

header nav .com {
  background-position: 0 -130px;
}

header nav .pdf {
  background-position: 0 -195px;
}

header nav .price {
  background-position: 0 -260px;
}

header nav .user {
  background-position: -65px -65px;
}

header nav .logout {
  background-position: -65px -195px;
}

header nav .params {
  background-position: -65px -130px;
}

header nav .mail {
  background-position: -65px -260px;
}

header nav .produit {
  background-position: 0 -325px;
}

header nav .number {
  background-color: #E74C3C;
  color: #FFF;
  border: 2px solid #FFF;
  font-size: 0.95rem;
  padding: 0.15rem 0.25rem;
  position: absolute;
  right: 0;
}

header nav .warning {
  background-position: -65px -325px;
}

header nav .partenaire {
  background-position: -132px -132px;
}

header nav .course {
  background-position: -132px -195px;
}

header nav .regle {
  background-position: -132px 0;
}

header nav .chrono {
  background-position: -132px -65px;
}

header nav .annonce {
  background-position: -132px -260px;
}

header nav .page {
  background-position: -132px -325px;
}

header nav .club {
  background-position: 0 -390px;
}

header nav .diapo {
  background-position: -65px -390px;
}

header nav .album {
  background-position: -132px -390px;
}

header nav .corrida {
  background-position: 0 -456px;
}

header nav .chalain {
  background-position: -65px -456px;
}

header nav .membre {
  background-position: -132px -456px;
}

@media (max-width: 480px) {
  header .navtitre {
    width: -webkit-calc(100% - 68px);
    width: -moz-calc(100% - 68px);
    width: -o-calc(100% - 68px);
    width: calc(100% - 68px);
  }
}

@media (min-width: 481px) and (max-width: 1023px) {
  header nav .navtitre {
    width: -webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: -o-calc(100% - 70px);
    width: calc(100% - 70px);
  }
  header nav li {
    width: -webkit-calc(50% - 4px);
    width: -moz-calc(50% - 4px);
    width: -o-calc(50% - 4px);
    width: calc(50% - 4px);
    display: inline-block;
    vertical-align: top;
    margin: 2px;
  }
}

@media (min-width: 1024px) and (max-width: 1349px) {
  header {
    width: 70px;
  }
  header nav .navtitre {
    display: none;
  }
  header nav li {
    position: relative;
  }
  header nav li:hover .navtitre, header nav li:focus .navtitre, header nav li:active .navtitre {
    display: block;
    position: absolute;
    top: 0;
    left: 68px;
    min-width: 170px;
  }
  header .logo {
    display: none;
  }
  .adresse {
    display: none;
  }
}

@media (min-width: 1350px) {
  header .icone {
    width: 66px;
  }
  header .navtitre {
    width: 190px;
  }
  header .logo {
    margin: auto;
  }
}

.gradvert {
  background-image: -owg-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -webkit-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -moz-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -o-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: linear-gradient(90deg, #1BBC9B, #BFE428);
  border: 1px solid #1BBC9B;
}

.gradbleu {
  background-image: -owg-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -webkit-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -moz-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -o-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: linear-gradient(90deg, #4695D9, #22A7F0);
  border: 1px solid #4695D9;
}

.gradviolet {
  background-image: -owg-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -webkit-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -moz-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -o-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: linear-gradient(90deg, #a238b9, #bb4fd2);
  border: 1px solid #a238b9;
}

.gradrouge {
  background-image: -owg-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -webkit-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -moz-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -o-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: linear-gradient(90deg, #E77E23, #E74C3C);
  border: 1px solid #E74C3C;
}

.bd {
  border-bottom: 1px solid #FFF;
}

.dark {
  background-color: #158f76;
}

.jaune {
  background-image: -owg-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -webkit-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -moz-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -o-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: linear-gradient(60deg, #ffa726, #fb8c00);
}

.rouge {
  background-color: #E74C3C !important;
}

.vert {
  background-color: #1BBC9B !important;
}

.orange {
  background-color: #E77E23 !important;
}

.rose {
  background-color: #EA6053 !important;
}

.violet {
  background-color: #a238b9 !important;
}

.mer {
  background-color: #4695D9 !important;
}

.ocean {
  background-color: #22A7F0 !important;
}

.none {
  display: none !important;
}

strong {
  font-weight: bold;
}

.green {
  background-color: #4caf50;
  color: #FFFFFF;
  padding: 2px 5px;
}

.red {
  background-color: #E74C3C;
  color: #FFFFFF;
  padding: 2px 5px;
}

.h42 {
  line-height: 42px;
  height: 42px;
}

.bloc {
  background-color: #FFFFFF;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.bloc p {
  margin: 0;
}

.bloc > div {
  border-bottom: 1px solid #ececec;
}

.bloc .new {
  background-color: #FC0 !important;
  font-weight: bold;
}

.bloc > div:hover {
  background-color: #f5f5f5;
}

.bloc-titre {
  background-image: -owg-linear-gradient(60deg, #ab47bc, #8e24aa);
  background-image: -webkit-linear-gradient(60deg, #ab47bc, #8e24aa);
  background-image: -moz-linear-gradient(60deg, #ab47bc, #8e24aa);
  background-image: -o-linear-gradient(60deg, #ab47bc, #8e24aa);
  background-image: linear-gradient(60deg, #ab47bc, #8e24aa);
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #FFF;
  text-transform: uppercase;
}

.bloc-extrait {
  background-color: #ffc107;
  color: #32394d;
  padding: 5px;
}

.bloc-texte {
  background-color: #FFFFFF;
  padding: 10px;
  border: 1px solid #E6EAEE;
  -webkit-box-shadow: 0 0 7px rgba(1, 1, 1, 0.1);
  -moz-box-shadow: 0 0 7px rgba(1, 1, 1, 0.1);
  box-shadow: 0 0 7px rgba(1, 1, 1, 0.1);
}

.titre-bloc {
  font-size: 1.05rem;
  color: #FFF;
  background-image: -owg-linear-gradient(60deg, #ab47bc, #8e24aa);
  background-image: -webkit-linear-gradient(60deg, #ab47bc, #8e24aa);
  background-image: -moz-linear-gradient(60deg, #ab47bc, #8e24aa);
  background-image: -o-linear-gradient(60deg, #ab47bc, #8e24aa);
  background-image: linear-gradient(60deg, #ab47bc, #8e24aa);
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-radius: 3px;
  margin: -20px 15px 7px;
  padding: 7px 15px;
}

.content {
  background-color: #fff;
  border-width: 0 1px 1px;
  border-color: #ccc;
  border-style: solid;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding: 5px;
}

.content em, .content strong, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin: 0;
  padding: 0;
}

.content * {
  margin: 0;
  padding: 0.55em;
  font-size: 1em;
}

.content a {
  color: #222c3c;
  background-color: #ffc107;
}

.article, .evens, .comment, .compterendu, .users {
  overflow: hidden;
  color: #32394d;
  background-color: #FFFFFF;
}

.edit a, .modif a, .view a, .mess a, .suppr a, .add a, .ajout a, .envoi a, .valider a, .cadenas a, .modifier a, .cache a,
.icon-add,
.icon-send,
.icon-cat,
.icon-del,
.icon-reply,
.icon-return,
.icon-modify,
.icon-home, .icon-cache {
  display: block;
  line-height: 42px;
  height: 42px;
  text-align: center;
}

.send span, .add span, .cache span, .cat span, .del span, .reply span, .return span, .modify span {
  height: 42px;
  line-height: 42px;
}

.send, .envoi, .add, .ajout, .cat, .reply, .del, .return, .modify, .cache {
  text-transform: uppercase;
}

.send, .add {
  border: 1px solid transparent;
}

.icon-send, .text-send,
.text-add, .icon-add,
.icon-cat, .text-cat,
.icon-del, .text-del,
.icon-reply, .text-reply,
.icon-return, .text-return,
.icon-modify, .text-modify,
.icon-cache, .text-cache {
  -webkit-transition: background-color 1.5s ease-in;
  -moz-transition: background-color 1.5s ease-in;
  -o-transition: background-color 1.5s ease-in;
  transition: background-color 1.5s ease-in;
}

.send a, .envoi a {
  display: flex;
}

.send a:hover .text-send, .send a:focus .text-send, .send a:active .text-send, .envoi a:hover .text-send, .envoi a:focus .text-send, .envoi a:active .text-send {
  background-color: #E77E23;
  color: #FFFFFF;
}

.send a:hover .icon-send, .send a:focus .icon-send, .send a:active .icon-send, .envoi a:hover .icon-send, .envoi a:focus .icon-send, .envoi a:active .icon-send {
  background-color: #FC0;
}

.add a, .ajout a {
  display: flex;
  color: #FFFFFF;
}

.add a:hover .text-add, .add a:focus .text-add, .add a:active .text-add, .ajout a:hover .text-add, .ajout a:focus .text-add, .ajout a:active .text-add {
  background-color: #158f76;
}

.add a:hover .icon-add, .add a:focus .icon-add, .add a:active .icon-add, .ajout a:hover .icon-add, .ajout a:focus .icon-add, .ajout a:active .icon-add {
  background-color: #1BBC9B;
}

.cat a {
  display: flex;
  color: #FFFFFF;
}

.cat a:hover .text-cat, .cat a:focus .text-cat, .cat a:active .text-cat {
  background-color: #246eaf;
}

.cat a:hover .icon-cat, .cat a:focus .icon-cat, .cat a:active .icon-cat {
  background-color: #22A7F0;
}

.del a {
  display: flex;
  color: #FFFFFF;
}

.del a:hover .text-del, .del a:focus .text-del, .del a:active .text-del {
  background-color: #bf2718;
}

.del a:hover .icon-del, .del a:focus .icon-del, .del a:active .icon-del {
  background-color: #E74C3C;
}

.reply a {
  display: flex;
  color: #FFFFFF;
}

.reply a:hover .icon-reply, .reply a:focus .icon-reply, .reply a:active .icon-reply {
  background-color: #bb4fd2;
}

.reply a:hover .text-reply, .reply a:focus .text-reply, .reply a:active .text-reply {
  background-color: #a238b9;
}

.return a {
  display: flex;
  color: #FFFFFF;
}

.return a:hover .icon-return, .return a:focus .icon-return, .return a:active .icon-return {
  background-color: #FC0;
}

.return a:hover .text-return, .return a:focus .text-return, .return a:active .text-return {
  background-color: #E77E23;
}

.modify a {
  display: flex;
  color: #FFFFFF;
}

.modify a:hover .icon-modify, .modify a:focus .icon-modify, .modify a:active .icon-modify {
  background-color: #bb4fd2;
}

.modify a:hover .text-modify, .modify a:focus .text-modify, .modify a:active .text-modify {
  background-color: #a238b9;
}

.cache a {
  display: flex;
  color: #FFFFFF;
}

.cache a:hover .icon-cache, .cache a:focus .icon-cache, .cache a:active .icon-cache {
  background-color: #bb4fd2;
}

.cache a:hover .text-cache, .cache a:focus .text-cache, .cache a:active .text-cache {
  background-color: #a238b9;
}

.icon-add,
.icon-send,
.icon-cat,
.icon-del,
.icon-reply,
.icon-return,
.icon-modify, .icon-cache {
  flex: 1 1 15%;
}

.icon-add {
  background-color: #158f76;
}

.icon-send {
  background-color: #E77E23;
}

.icon-cat {
  background-color: #246eaf;
}

.icon-del {
  background-color: #bf2718;
}

.icon-reply {
  background-color: #a238b9;
}

.icon-return {
  background-color: #E77E23;
}

.icon-modify {
  background-color: #a238b9;
}

.icon-cache {
  background-color: #a238b9;
}

.text-add,
.text-send,
.text-cat,
.text-del,
.text-reply,
.text-return,
.text-modify,
.text-cache {
  flex: 1 1 85%;
  padding-left: 15px;
}

.text-add {
  background-color: #1BBC9B;
}

.text-send {
  background-color: #FC0;
  color: #222C3C;
}

.text-cat {
  background-color: #22A7F0;
}

.text-del {
  background-color: #E74C3C;
}

.text-reply,
.text-modify, .text-cache {
  background-color: #bb4fd2;
}

.text-return {
  background-color: #FC0;
}

.note {
  text-align: center;
}

.pl {
  padding-left: 5px;
}

.suppr button {
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.header {
  color: #FFF;
  background-color: #222C3C;
  padding: 0 0.95em;
}

.info {
  position: relative;
  z-index: 24;
  color: #1BBC9B;
  text-decoration: none;
  font-size: .85rem;
}

.info span {
  display: none;
  position: absolute;
  top: 3.5em;
  right: 0.5em;
  width: 13em;
  padding: 2px 10px;
  background-color: #FFFFFF;
  border: 2px solid #1BBC9B;
  text-align: center;
}

.info span::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: transparent transparent #1BBC9B transparent;
  position: absolute;
  top: -9px;
  right: 12px;
}

.info:hover .info:active span, .info:focus span {
  display: block;
  z-index: 25;
  -webkit-box-shadow: 0 0 10px #788eb2;
  -moz-box-shadow: 0 0 10px #788eb2;
  box-shadow: 0 0 10px #788eb2;
}

.bloc-number {
  color: #FFFFFF;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.bloc-number .number {
  font: 300 5rem/2 'Source Sans Pro';
}

.pagination {
  text-align: right;
}

.pagination a {
  border: 1px solid #CED0DA;
  padding: 3px 10px;
  background-color: #FFFFFF;
  color: #222C3C;
  display: inline-block;
}

tion
.pagination a:hover, .pagination a:focus, .pagination a:active {
  border: 1px solid #4695D9;
  background-color: #22A7F0;
  color: #FFFFFF;
}

.pagination .actif {
  border: 1px solid #4695D9;
  background-color: #22A7F0;
  color: #FFFFFF;
  text-decoration: underline;
  font-weight: bold;
}

.nbMessage {
  background-color: #cc0001;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  margin-left: 8px;
  padding: 5px 10px 6px;
  position: absolute;
  top: 7px;
  line-height: 1;
  z-index: 999;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(225, 225, 225, 0.3) inset;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(225, 225, 225, 0.3) inset;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(225, 225, 225, 0.3) inset;
}

.bloc-message .message-info {
  border: 1px solid #E6EAEE;
  background-color: #FFF;
}

.bloc-message .message-text {
  border: 1px solid #E6EAEE;
  background-color: #FFFFFF;
  display: block;
  padding: 3px 5px;
}

.bottom-info {
  padding: 5px 15px;
  background-image: -owg-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -webkit-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -moz-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -o-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: linear-gradient(60deg, #ffa726, #fb8c00);
}

@media (max-width: 480px) {
  .bloc {
    width: 95%;
    margin: 15px auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .bloc {
    width: 90%;
    margin: 15px auto;
  }
}

@media (max-width: 1022px) {
  .send, .add, .cat, .del, .reply, .return, .modify, .cache {
    width: 95%;
    margin: 15px auto;
  }
}

@media (max-width: 1023px) {
  .mask {
    display: none;
  }
  .edit a,
  .modif a,
  .view a,
  .suppr a,
  .valider a,
  .cache a {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
  .titre-bloc,
  .bloc-titre {
    min-height: 45px;
    line-height: 45px;
    text-align: center;
  }
  .mobil {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
  }
  .m30 {
    width: 33.3333%;
  }
  .m50 {
    width: 50%;
    height: 45px;
    line-height: 45px;
  }
  .bloc {
    width: 95%;
    margin: 15px auto;
  }
  .bloc-number {
    width: 95%;
    margin: 15px auto;
  }
  .avatar, .name, .prenom {
    line-height: 60px;
    height: 60px;
  }
  .avatar {
    padding: 5px 10px;
  }
  .title-h3 {
    margin: 12px 5px;
    padding-left: 7px;
  }
  .pagination {
    margin: 5px;
  }
  .bloc-edit {
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  .tab {
    display: none;
  }
  .article, .evens, .comment, .compterendu {
    height: 42px;
    line-height: 42px;
  }
  .image {
    padding-top: 5px;
  }
  .users,
  .stock {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
  }
  .users .edit a,
  .users .suppr a,
  .stock .edit a,
  .stock .suppr a {
    margin-top: 7px;
  }
  .add, .send, .cat, .del, .reply, .return, .modify, .cache {
    margin: 20px 10px 10px 25px;
  }
  .avatar {
    margin-top: 5px;
    padding-left: 7px;
  }
  .titre-bloc {
    line-height: 45px;
    padding-left: 10px;
  }
  .bloc-titre {
    line-height: 50px;
    height: 50px;
  }
  .bloc {
    margin: 25px 7px;
  }
  .bloc-flex {
    display: flex;
    overflow: hidden;
  }
  .bloc-10 {
    flex: 1 1 10%;
  }
  .bloc-20 {
    flex: 1 1 20%;
  }
  .bloc-30 {
    flex: 1 1 30%;
  }
  .bloc-40 {
    flex: 1 1 40%;
  }
  .bloc-50 {
    flex: 1 1 50%;
  }
  .bloc-60 {
    flex: 1 1 60%;
  }
  .bloc-70 {
    flex: 1 1 70%;
  }
  .bloc-80 {
    flex: 1 1 80%;
  }
  .bloc-90 {
    flex: 1 1 90%;
  }
  .w-5 {
    width: 7%;
  }
  .w-10 {
    width: 10%;
  }
  .w-15 {
    width: 14%;
  }
  .w-20 {
    width: 20%;
  }
  .w-25 {
    width: 27%;
  }
  .w-30 {
    width: 33%;
  }
  .w-35 {
    width: 35%;
  }
  .w-40 {
    width: 37%;
  }
  .w-45 {
    width: 45%;
  }
  .w-50 {
    width: 50%;
  }
  .w-55 {
    width: 55%;
  }
  .w-60 {
    width: 60%;
  }
  .w-65 {
    width: 65%;
  }
  .w-70 {
    width: 70%;
  }
  .w-75 {
    width: 75%;
  }
  .w-80 {
    width: 80%;
  }
  .w-85 {
    width: 85%;
  }
  .header h1, .header h2, .header h3, .header h4, .header h5 {
    flex: 1 1;
    height: 70px;
    line-height: 70px;
  }
  .header .profil {
    line-height: 20px;
    width: 300px;
  }
  .header .profil div {
    display: inline-block;
    vertical-align: middle;
  }
  .bloc-number {
    margin: 2rem 1em;
  }
  .bloc-message {
    margin: 10px 10px 10px 25px;
  }
  .bloc-message .message-info,
  .bloc-message .message-text {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin-top: 10px;
  }
  .bloc-message .message-info {
    width: 130px;
  }
  .bloc-message .message-text {
    min-width: 250px;
    max-width: 360px;
  }
  .stock .view, .stock .suppr, .stock .edit {
    margin-top: 7px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .com-zone {
    width: 50% !important;
  }
  .calendar {
    width: 95%;
  }
  .comments {
    width: 98%;
    margin: 20px auto;
  }
  .comptesRendus {
    width: 80%;
    margin-left: 25px;
  }
  .actualite {
    width: 95%;
    margin: 10px auto;
  }
  .User {
    width: 90%;
    margin-left: 25%;
  }
  .category {
    width: 65%;
  }
}

@media (min-width: 1201px) {
  .bloc {
    margin: 25px;
  }
  .w-5 {
    width: 5%;
  }
  .w-15 {
    width: 15%;
  }
  .w-25 {
    width: 25%;
  }
  .w-30 {
    width: 30%;
  }
  .w-40 {
    width: 40%;
  }
  .add, .send, .cat, .del, .reply, .return, .modify, .cache {
    width: 45%;
  }
  .bloc-edit {
    width: 80%;
    padding: 1rem;
  }
  .produits {
    width: 95%;
  }
  .category {
    width: 50%;
    margin-left: 25px;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .com-zone {
    width: 50% !important;
  }
  .comments {
    width: 90%;
    margin: 25px;
  }
  .calendar, .actualite {
    width: 85%;
  }
  .User {
    width: 90%;
    margin-left: 25px;
  }
  .send,
  .add,
  .cat, .category, .del, .reply, .return, .modify, .cache {
    width: 30%;
  }
}

@media (min-width: 1601px) {
  .send,
  .add,
  .cat,
  .category, .del, .reply, .return, .modify, .cache {
    width: 30%;
  }
  .comments {
    width: 80%;
    margin-left: 25px;
  }
  .calendar {
    width: 50%;
    margin-left: 25px;
  }
  .comptesRendus {
    width: 60%;
  }
  .actualite {
    width: 80%;
  }
  .User {
    width: 75%;
  }
  .pagination {
    margin: 25px;
  }
  .pagination a {
    margin-left: 7px;
  }
}

.formulaire {
  padding: 1rem 1rem 0.5rem;
  background-color: #222C3C;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 10px #222C3C;
  -moz-box-shadow: 0 0 10px #222C3C;
  box-shadow: 0 0 10px #222C3C;
}

.formulaire label {
  font-size: 1.1em;
  vertical-align: top;
  border: 2px solid #22A7F0;
  line-height: 30px;
  margin: 10px;
  padding: 10px;
  color: #FFFFFF;
  background-color: #22A7F0;
}

.formulaire input {
  background-color: #FFF;
  border: 2px solid #FFF;
  color: #395971;
  font-size: 15px;
  line-height: 30px;
  margin: 10px;
  padding: 10px;
}

.input, .textarea, .select {
  font-family: "Source Sans Pro";
}

.input:hover, .input:focus, .input:active, .textarea:hover, .textarea:focus, .textarea:active, .select:hover, .select:focus, .select:active {
  border: 1px solid #E77E23;
  background-color: #FFFFFF;
}

.label,
.input {
  line-height: 30px;
  padding: 10px;
}

.select {
  line-height: 35px;
  padding: 14px;
}

.label {
  background-color: #fafbfd;
  font-weight: 300;
  font-size: 1em;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #22A7F0;
  border-top: 1px solid #E6EAEE;
  border-bottom: 1px solid #E6EAEE;
  border-left: 1px solid #E6EAEE;
}

.input, .textarea, .select {
  background-color: #FFFFFF;
  color: #395971;
  font-size: 15px;
  border: 1px solid #E6EAEE;
}

.textarea {
  border: 1px solid #e6eaee;
  padding: 10px;
}

.obligatory {
  border-left: 10px solid #E74C3C;
}

.btn {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.1em;
  text-transform: uppercase;
  background-repeat: no-repeat;
  height: 55px;
  line-height: 55px;
}

.valide, .danger {
  -webkit-transition: background 1.5s ease-in;
  -moz-transition: background 1.5s ease-in;
  -o-transition: background 1.5s ease-in;
  transition: background 1.5s ease-in;
}

.valide {
  background-color: #1BBC9B;
  border: 1px solid #158f76;
  background: url("../../images/icone_admin.svg") 15px -446px no-repeat, linear-gradient(to right, #1BBC9B 18%, #158f76 18%);
}

.valide:hover, .valide:focus, .valide:active {
  background: url("../../images/icone_admin.svg") 15px -446px no-repeat, linear-gradient(to right, #158f76 18%, #1BBC9B 18%);
}

.danger {
  border: 1px solid #bf2718;
  text-align: center;
  background-color: #E74C3C;
  background: url("../../images/icone_admin.svg") 12px -318px no-repeat, linear-gradient(to right, #bf2718 25%, #E74C3C 25%);
}

.danger:hover, .danger:focus, .danger:active {
  background: url("../../images/icone_admin.svg") 12px -318px no-repeat, linear-gradient(to right, #E74C3C 25%, #bf2718 25%);
}

.desactive {
  cursor: not-allowed;
  border: 1px solid #101010;
  text-align: center;
  background-color: #aaaaaa;
  background: url("../../images/icone_admin.svg") 12px -318px no-repeat, linear-gradient(to right, #dedede 25%, #A9a9a9 25%);
}

#alert {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  display: none;
  -webkit-box-shadow: 0 0 10px rgba(1, 1, 1, 0.25);
  -moz-box-shadow: 0 0 10px rgba(1, 1, 1, 0.25);
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.25);
}

.alert {
  color: #FFFFFF;
  font-size: 1.25em;
  display: block;
  font-weight: bold;
}

.alert .icon-error {
  background: url("../../images/error.png") center center no-repeat #EA6053;
}

.alert .icon-success {
  background: url("../../images/success.png") center center no-repeat #158f76;
}

.alert .text-error {
  background-color: #E74C3C;
  padding-left: 10px;
}

.alert .text-success {
  background-color: #1BBC9B;
  padding-left: 10px;
}

.aide {
  font-size: 0.95em;
  display: block;
  color: #4695D9;
  background: url("../../images/help.png") 0 center no-repeat #E6EAEE;
  padding-left: 40px;
  height: 32px;
  line-height: 32px;
}

@media (max-width: 640px) {
  #mceu_13 {
    width: 99%;
    margin: 10px auto 0;
  }
  .formulaire {
    margin: 10px;
    padding: 10px;
  }
  #alert {
    bottom: 5px;
    z-index: 1000;
  }
  .icon-error, .icon-success, .text-error, .text-success {
    display: block;
  }
  .text-error, .text-success {
    position: absolute;
    top: 80px;
    left: 5px;
    right: 5px;
    text-align: center;
    line-height: 75px;
    height: 50vh;
  }
  .icon-error, .icon-success {
    height: 75px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
  }
  .label, .input, .textarea, .select {
    width: 98%;
    margin: 15px auto;
    display: block;
  }
  .obligatory {
    width: 98%;
    margin: 10px auto;
    padding-left: 5px;
  }
  .btn {
    display: block;
    width: 98%;
    margin: 10px auto;
  }
}

@media (min-width: 640px) {
  .alert {
    min-width: 500px;
  }
}

@media (min-width: 768px) and (max-width: 1022px) {
  .input, .label, .select {
    display: block;
    text-align: left;
    width: 95%;
  }
  .btn {
    width: 45%;
    margin: 2%;
  }
  .form-group {
    margin: 5px auto;
  }
  .icon-error,
  .icon-success {
    width: 100px;
  }
  .text-error,
  .text-success {
    width: calc(100% - 100px);
  }
}

@media (min-width: 1023px) {
  .login {
    width: 500px;
    margin: 1rem auto;
  }
  .formulaire {
    width: 100%;
    margin: 1rem 0;
  }
  .formulaire label {
    width: 35%;
    text-align: right;
  }
  .formulaire input {
    width: 65%;
  }
  .formulaire button {
    width: 96%;
  }
  .form-group {
    width: 700px;
    margin: 20px 10px 0;
  }
  .label, .input, .textarea, .select {
    display: inline-block;
    vertical-align: top;
  }
  .label {
    width: 250px;
    text-align: right;
  }
  .input, .select {
    width: 450px;
  }
  .aide {
    margin-left: 250px;
    width: 450px;
  }
  .obligatory {
    width: 700px;
    margin: 10px;
    padding: 2px 7px;
    background-color: #F5F8FA;
  }
  .textarea {
    margin: 20px 10px 0 0;
    width: 450px;
    min-height: 300px;
  }
  .danger,
  .valide, .desactive {
    display: inline-block;
    vertical-align: top;
  }
  .danger, .desactive {
    width: 240px;
    margin: 20px 20px 10px 10px;
  }
  .valide {
    width: 375px;
    margin: 20px;
  }
  .icon-error, .icon-success, .text-error, .text-success {
    display: inline-block;
    vertical-align: top;
    line-height: 75px;
    height: 75px;
  }
  .icon-error,
  .icon-success {
    width: 105px;
  }
  .text-error,
  .text-success {
    width: calc(100% - 105px);
  }
}

@media (min-width: 1170px) {
  .formulaire {
    width: 100%;
  }
  .btn-danger {
    min-width: 150px;
  }
  .btn-valide {
    min-width: 200px;
  }
  .mce-edit-area {
    min-height: 300px;
  }
}

.gradvert {
  background-image: -owg-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -webkit-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -moz-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: -o-linear-gradient(90deg, #1BBC9B, #BFE428);
  background-image: linear-gradient(90deg, #1BBC9B, #BFE428);
  border: 1px solid #1BBC9B;
}

.gradbleu {
  background-image: -owg-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -webkit-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -moz-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: -o-linear-gradient(90deg, #4695D9, #22A7F0);
  background-image: linear-gradient(90deg, #4695D9, #22A7F0);
  border: 1px solid #4695D9;
}

.gradviolet {
  background-image: -owg-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -webkit-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -moz-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: -o-linear-gradient(90deg, #a238b9, #bb4fd2);
  background-image: linear-gradient(90deg, #a238b9, #bb4fd2);
  border: 1px solid #a238b9;
}

.gradrouge {
  background-image: -owg-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -webkit-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -moz-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: -o-linear-gradient(90deg, #E77E23, #E74C3C);
  background-image: linear-gradient(90deg, #E77E23, #E74C3C);
  border: 1px solid #E74C3C;
}

.bd {
  border-bottom: 1px solid #FFF;
}

.dark {
  background-color: #158f76;
}

.jaune {
  background-image: -owg-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -webkit-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -moz-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: -o-linear-gradient(60deg, #ffa726, #fb8c00);
  background-image: linear-gradient(60deg, #ffa726, #fb8c00);
}

.rouge {
  background-color: #E74C3C !important;
}

.vert {
  background-color: #1BBC9B !important;
}

.orange {
  background-color: #E77E23 !important;
}

.rose {
  background-color: #EA6053 !important;
}

.violet {
  background-color: #a238b9 !important;
}

.mer {
  background-color: #4695D9 !important;
}

.ocean {
  background-color: #22A7F0 !important;
}

footer {
  background-color: #1D2531;
  color: #FFF;
}

footer a {
  color: #FFF;
  border-bottom: 1px dashed #FFF;
}

@media (min-width: 1024px) {
  .contact {
    flex: 1 1 0;
    padding: 0 1rem;
    margin: 1rem 0;
  }
}
