{% extends 'layout.twig' %}

{# ZONE HEAD #}
{% block head %}Résultats Corrida du Parc{% endblock %}

{# ZONE CONTENT #}
{% block content %}

{% include 'header.twig' %}

    <div class="bloc-titre ombre">
        <div class="titre">Archives</span>
            <div class="bouton-return"><a href="Accueil" title="Retour à l'accueil">
                    <svg height="24" full="#ffffff" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
                    </svg></a>
            </div>
        </div>
    </div>

    <div class="content podium">
        {% for archive in archives %}
            <a href="https://chalain.triathlons.fr/fichier/{{ archive.fichier }}" target="_blank">{{ archive.nom }}</a>
        {% endfor %}
    </div>

{% endblock %}