{% extends 'layout.twig' %}

{% block head %} Chalain | Erreur 404 {% endblock %}

{# ZONE CONTENT #}
{% block content %}

    {% include 'header_content.twig' %}

    <div class="bloc-titre ombre">
        <div class="titre">
            Page introuvable
        </div>
    </div>


{% endblock %}