<header>
    <div class="header">
        <div class="logo"><a href="Accueil"><img src="theme/logo.png" alt="Accueil Triathlon"></a></div><!--
        --><div class="bloc-right">
            <div class="social">{% include 'lang.twig' %}
                <a href="http://www.facebook.com/share.php?u=http://chalain.triathlons.fr"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="http://twitter.com/share?url=http://chalain.triathlons.fr"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://plus.google.com/share?url=http://chalain.triathlons.fr"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</header>