<div class="bloc-titre">
    <div class="titre">Parcours</div>
</div>
<div class="bggreylight">
    <div class="content">
        <div class="w30">
            <a href="fichier/parcours_natation.pdf" target="_blank">
                <img src="theme/parcours-natation.jpg" alt="" class="rounded">
                <p class="parcours">Parcours Natation</p>
            </a>
        </div><!--
        --><div class="w30">
            <a href="fichier/parcours_velo.pdf" target="_blank">
                <img src="theme/parcours-velo.jpg" alt="" class="rounded">
                <p class="parcours">Parcours Vélo</p>
            </a>
        </div><!--
        --><div class="w30">
            <a href="fichier/parcours_course_a_pied.pdf" target="_blank">
                <img src="theme/parcours-cap.jpg" alt="" class="rounded">
                <p class="parcours"><i class="fa fa"></i> Parcours Courses à Pied</p>
            </a>
        </div>
    </div>
</div>