<div class="bloc-titre-contact">
    <div class="titre bleu">Contactez-nous</div>
</div>
<div class="content contact">
    <div class="bloc-w50 zone-contact">
        <div class="bloc-w20 map"><i class="fa fa-map-marker" aria-hidden="true"></i></div><!--
       --><div class="bloc-w80">
            <p>Triath'Lons</p>
            <p>15 Avenue du Stade</p>
            <p>39000 Lons-le-Saunier</p>
        </div>
    </div><!--
    --><div class="bloc-w50 zone-contact">
        <div class="bloc-w20"><i class="fa fa-phone" aria-hidden="true"></i></div><!--
        --><div class="bloc-w80"><p><a href="tel:+33682870041">+33 (0)6.82.87.00.41</a></p></div>
        <div class="bloc-w20"><i class="fa fa-envelope" aria-hidden="true"></i></div><!--
        --><div class="bloc-w80"><p><a href="mailto:contact@triathlons.fr">contact@triathlons.fr</a></p></div>
        <div class="bloc-w20"><i class="fa fa-facebook" aria-hidden="true"></i></div><!--
        --><div class="bloc-w80"><p><a href="https://www.facebook.com/groups/triathlons39/" target="_blank">Suivez-nous sur Facebook</a></p></div>
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d684.4544766718626!2d5.5656210806404065!3d46.66985610049778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6ca6c1744fb71976!2sStade+Municipal!5e0!3m2!1sfr!2sfr!4v1506182319082" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>