<div class="header">
    <div class="banner">
        <div class="logo"><a href="Accueil"><img src="theme/logo.png" alt="Accueil Triathlon"></a></div><!--
        --><div class="socio">
            <a href="http://www.facebook.com/share.php?u=https://corrida.triathlons.fr"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="http://twitter.com/share?url=https://corrida.triathlons.fr"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/share?url=https://corrida.triathlons.fr"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<!-- MENU PC -->
<nav role="navigation" class="pc">
    <ul>
        <li><a href="Accueil">Accueil</a></li><!--
        --><li><a href="Actualites">Actualités</a></li><!--
        --><li><a href="index.php#course">Courses / Inscription</a></li><!--
        --><li><a href="index.php#prog">Programme</a></li><!--
        --><li><a href="index.php#regle">Réglementation</a></li><!--
        --><li><a href="index.php#partenaire">Nos Partenaires</a></li><!--
        --><li><a href="Resultats">Résultats</a></li><!--
        --><li><a href="Contact">Contactez-nous</a></li>
    </ul>
</nav>
<!-- MENU MOBILE -->
<nav role="navigation" class="mobile">
    <ul class="menu">
        <li><a href="#">MENU</a>
            <ul>
                <li><a href="Accueil">Accueil</a></li><!--
            --><li><a href="Actualites">Actualités</a></li><!--
            --><li><a href="index.php#course">Courses / Inscription</a></li><!--
            --><li><a href="index.php#prog">Programme</a></li><!--
            --><li><a href="index.php#regle">Réglementation</a></li><!--
            --><li><a href="index.php#partenaire">Nos Partenaires</a></li><!--
            --><li><a href="Resultats">Résultats</a></li><!--
            --><li><a href="Contact">Contactez-nous</a></li>
            </ul>
        </li>
    </ul>
</nav>